html {
    background: url(Online_learning.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#table {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;  
}
#table ul {
	list-style: none;
	width: 800px;
	margin: 0 auto;
	padding: 0; 
}
#table li {
	float: left; 
}
#table li a {
	display: block;
	padding: 6px 56.6px;
	text-decoration: none;
	font-weight: bold;
	color: #555;
	border-right: 1px solid #ccc; 
}
#table li:first-child a {
	border-left: 1px solid #ccc; 
}
#table li a:hover {
	color: #D85E37;
	background-color: #fff; 
}

#toc {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: lem;
    width: 400px;
    margin: auto; 
}
.toc_title {
    font-weight: 700;
    font-size: 18px;
    text-align: center; }
#toc li:nth-child(odd) {
    background-color: #f2f2f2; 
}
#toc ul{
    list-style:none;
    margin: 0 auto;
    padding: 0; 
}
#toc li a{
    color: #555;
    text-decoration: none; 
}
#toc li a:hover {
	color: #D85E37; 
}

#question a {
    color:#fff;
    text-decoration: none; 
}
#question {
   background: #D85E37;
   background-image: -webkit-linear-gradient(top, #D85E37, #C75733);
   background-image: -moz-linear-gradient(top, #D85E37, #C75733);
   background-image: -ms-linear-gradient(top, #D85E37, #C75733);
   background-image: -o-linear-gradient(top, #D85E37, #C75733);
   background-image: linear-gradient(to bottom, #D85E37, #C75733);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 16px;
   font-weight: 100;
   padding: 5px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer; 
}
#question:hover {
   background: #F2F2F2;
   text-decoration: none; 
}

#accept a {
    color:#fff;
    text-decoration: none; 
}
#accept {
   background: #D85E37;
   background-image: -webkit-linear-gradient(top, #D85E37, #C75733);
   background-image: -moz-linear-gradient(top, #D85E37, #C75733);
   background-image: -ms-linear-gradient(top, #D85E37, #C75733);
   background-image: -o-linear-gradient(top, #D85E37, #C75733);
   background-image: linear-gradient(to bottom, #D85E37, #C75733);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Open Sans;
   font-size: 16px;
   font-weight: 100;
   padding: 5px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #000000 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer; 
}
#accept:hover {
   background: #F2F2F2;
   text-decoration: none; 
}

#videos {
    position: relative;
    height: 600px;
    width: 800px;
    margin: auto;
}

#publisher {
    position: absolute;
    width: 360px;
    height: 240px;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}

#subscriber {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

body {
    background: rgba(255, 208, 181, 0.95);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    max-height: auto;
    padding: 2em 2em 4em;
}

h1 {
    font-family: Chalkduster, fantasy;
    font-size: 40px;
}
h2, p, a {
    font-family: Gill Sans, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 0.5em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}