<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ExplaNation</title>
    <meta name="description" content="An interactive getting started guide for Brackets.">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body>

    <h1>ExplaNation</h1>
    <h2>Learn something live from anyone, anywhere! </h2>

    <div id="table">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/createname">Create Classroom</a>
            </li>
            <li>
                <a href="#">About Us</a>
            </li>
        </ul>
    </div>

    <p>
        <br>Hello! THIS IS US! We are developing an interactive learning environment.
        <br>Our goal is to create a virtual learning experience. The instructors' online tutorials will not only be a live streaming
        video, but will also give students the opportunity to ask the professor questions/raise thier hand. On top of that,
        they can have discussions with peers.

        <br>
        <br> Creators: Pranav Salunke, Vanessa Tran, Srijitha Somangili, Rachel Chen
    </p>


</body>

</html>